{% extends "base.html" %}
{% block title %}Assignment{% endblock %}
{% block logo %}{{ assignment["name"] }}{% endblock %}
{% block nav %}{% endblock %}

{% block style %}
<style>
    .text-orange {
        color: rgb(32, 113, 206) !important;
    }
    .case-danger {
        font-family: 'arial';
        color: #000;
        border-left: 5px solid #dd0000;
        padding: 8px 0px 8px 6px;
        background-color: #ffbbbb;
    }
    .case-success {
        font-family: 'arial';
        color: #000;
        border-left: 5px solid #00aa00;
        padding: 8px 0px 8px 6px;
        background-color: #bbffbb;
    }
    .CodeMirror {
        font-size: 16px;
    }
</style>
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/classroom/{{ assignment['classroom'].code }}"
                style="text-decoration: none;">{{ assignment["classroom"].name }}</a></li>
        <li class="breadcrumb-item">{{ assignment["name"] }}</li>
    </ol>
</nav>
<div class="container mb-2">
    <div class="my-4 card text-light" style="background-color: rgb(253, 158, 70); border: 6px solid rgb(201, 124, 53);">
        <div class="card-body">
            <div class="row align-items-center p-2" >
                <span class="h2 text-light col-auto" style="text-shadow: 2px 2px #444444ff;">{{ assignment["name"] }}</span>
                <span class="col-auto ml-auto font-weight-bold" style="color: rgb(136, 84, 35); font-size: 1.15rem;">
                    Due:
                    <span class="{% if assignment.deadline and assignment.deadline < current_time() %} text-danger {% endif %}">{{
                        strftime(assignment.deadline) }}</span>
                </span>
            </div>
        </div>
        <div class="card-footer px-4" style="background-color: rgb(201, 124, 53);">
            <div class="row align-items-center">
                <div class="col-auto">{{ assignment["desc"] }}</div>
                <div class="col-auto ml-auto font-weight-bold"> Code: {{ assignment["code"] }}</div>
            </div>
            
        </div>
    </div> 
    {% if session["user_type"] == "teacher" %}
        <div class="mb-3 mx-2">
            <a class="btn btn-outline-success" href="/assignment/{{ assignment['code'] }}/edit"><i class="fas fa-edit"></i> Edit assignment</a>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-3">
                <h5 class="text-success mr-1">Input</h5>
                <textarea class="form-control w-100" cols="25" rows="2"
                    readonly>{{ assignment['input_format'] }}</textarea>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
                <h5 class="text-success mr-1">Output</h5>
                <textarea class="form-control" cols="25" rows="2" readonly>{{ assignment['output_format'] }}</textarea>
            </div>
        </div>

        <h5 class="text-success">Constraints</h5>
        <div class="container mb-3">
            {% if assignment["constraints"] %}
                <p>{{ assignment["constraints"] }}</p>
            {% else %}
                <p>No constraints</p>
            {% endif %}
        </div>
        {% if session["user_type"] == "teacher" %} 
        <div class="">
            <div class="row">
                <h5 class="col-auto text-success">Submissions</h5>
                
                <div class="col-auto ml-auto px-1 mr-3 align-items-center">
                    <span>
                        Download all: 
                    </span>
                    <a href="/submission/download/{{ assignment['code'] }}/all">
                        <img src="{{ url_for('static', filename='images/download-file.png') }}" class="img" width="35px" height="35px" alt="&downarrow;"/></a>

                    <span class="ml-3">Results</span>
                    <a href="/submission/download/{{ assignment['code'] }}/results">
                        <img src="{{ url_for('static', filename='images/download-file.png') }}" class="img" width="35px" height="35px" alt="&downarrow;"/></a>
                </div>
               
            </div>

            {% if assignment.classroom.students %}
            <table class="table table-hover table-bordered mt-2">
                <thead class="bg-dark text-light">
                    <th>Name</th>
                    <th>Test cases</th>
                    <th>Download</th>
                </thead>
                {% for student in assignment.classroom.students %}
                    {% set submitted = {"value": False} %}
                    {% for submission in assignment.submissions if submission.student.id == student.id %}
                        
                            <tr class="">
                                {% if submitted.update({"value": True}) %}{% endif %}
                                
                                <td class="">{{ student.name }}</td>
                                <td class="">
                                    {% for case in submission.result %}
                                    {% if case == "1" %}
                                    <span class="text-success mr-2">
                                        <img src="{{ url_for('static', filename='images/case-success.png') }}" class="img" width="25px" height="25px" alt="&cross;"/>
                                    </span>
                                    {% else %}
                                    <span class="text-danger mr-2">
                                        <img src="{{ url_for('static', filename='images/case-danger.png') }}" class="img" width="25px" height="25px" alt="&cross;"/>
                                    </span>
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="/submission/download/{{ submission.file_name.split( os_sep )[2:] | join('/') }}"
                                    class="px-1">
                                    <img src="{{ url_for('static', filename='images/download-file.png') }}" class="img" width="30px" height="30px" alt="&downarrow;"/>
                                    </a>
                                </td>
                                
                            </tr>
                    {% endfor %}
                    {% if submitted.value == False %}
                        <tr class="">
                            <td class="">{{ student.name }}</td>
                            <td class="">
                                Not submitted
                            </td>
                            <td>
                                
                            </td>
                        </tr>   
                    {% endif %}
                {% endfor %}
                
            </table>
            {% endif %}
        </div>
        {% else %}
        <h5 class="border-left text-success" style="border-width: 5px;">Submission</h5>
        <div class="container mb-3">
            <form name="assignment_form" method="POST">
                <div class="row">
                    <div class="col-6">
                        <label for="assignment_lang">Language: </label>
                        <select name="assignment_lang" id="assignment_lang" class="w-auto" onchange="changeMode()" required>
                            {% for lang in ["C", "C++", "Java", "Python"] %}
                            <option value="{{ lang }}"  {% if submission and submission.language == lang %}   selected    {% endif %} >{{ lang }}</option>
                            
                            {% endfor %}
                        </select>
                    </div> 

                    <div class="col-auto ml-auto">
                        <label for="assignment_theme">Theme: </label>
                        <select name="assignment_theme" id="assignment_theme" class="w-auto" onchange="changeTheme()" >
                            <option value="default">default</option>
                            <option value="3024-night">3024-night</option>
                            <option value="eclipse">eclipse</option>
                            <option value="neat">neat</option>
                            <option value="cobalt">cobalt</option>
                            <option value="material">material</option>
                        </select>
                    </div>
                </div>

                <input type="text" name="assignment_code" value="{{ assignment['code'] }}" required readonly hidden />
                <label for="assignment_program" class="mt-3">Program: </label>

                <div style="border: 2px solid lightslategray; border-radius: 5px;">
                    <textarea id="assignment_program" name="assignment_program" class="form-control" required>{{ submission_program }}</textarea>
                </div>

                <div id="assignment_result" class="row mt-2 px-1">
                    <!-- <p class="text-muted">Submit assignment first!</p> -->
                </div>
                <button type="button" class="btn btn-primary my-4" onclick="checkAssignment()">Run</button>
                    {% if assignment.deadline %}
                        {% if assignment.deadline >= current_time() %}
                            <button type="submit" class="btn btn-success my-4" id="assignment_submit">Submit</button>
                        {% else %}
                            <span class="d-inline text-danger ml-3 font-weight-bold">Deadline exceeded</span>
                        {% endif %}
                {% endif %}

            </form>
            <!-- <textarea class="function-control w-75" id="my-textarea" cols="30" rows="10" style="border: 3px solid rgb(103, 158, 241); border-radius: 10px;"></textarea> -->
            
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    language = document.getElementById("assignment_lang").value;
    program = document.getElementById("assignment_program").value;

    const assignment_form = document.forms.assignment_form;

    const url = "/api/check";

    function checkAssignment(e) {
        assignment_form.elements["assignment_program"].value = editor.getValue();
        const body = JSON.stringify(Object.fromEntries(new FormData(assignment_form)));

        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body
        })
            .then(resp => resp.json())
            .then(text => {
                assignment_result = document.getElementById("assignment_result");
                assignment_result.innerHTML = "";

                assignment_submit = document.getElementById("assignment_submit");

                for (let i = 1; i < text.length; i++) {
                    console.log(text[i], i);
                        elem = document.createElement("div");

                    let pChild = document.createElement("pre");
                    elem.appendChild(pChild);

                    elem.className = "col-12 col-md-6 col-lg-3";
                    pChild.className = "font-weight-bold";

                    pChild.textContent = "Test case " + i + ": " + text[i];

                    if (text[i].includes("ERROR") || text[i].includes("INCORRECT"))
                        pChild.classList += " case-danger";
                    else
                        pChild.classList += " case-success";
                    assignment_result.appendChild(elem);
                    
                }
            })
            .catch(err => console.error(err));
    }
</script>
<!-- codemirror scripts (vishal) -->

<script src="{{ url_for('static', filename = 'scripts/codemirror.js') }}"></script>

<!-- addon (activeline, bracket completion) -->
<script src="{{ url_for('static', filename = 'scripts/active-line.js') }}"></script>
<script src="{{ url_for('static', filename = 'scripts/matchbrackets.js') }}"></script>
<script src="{{ url_for('static', filename = 'scripts/closebrackets.js') }}"></script>

<!-- modes (languages) -->
<script src="{{ url_for('static', filename = 'scripts/python.js') }}"></script>
<script src="{{ url_for('static', filename = 'scripts/clike.js') }}"></script>
<script src="{{ url_for('static', filename = 'scripts/javascript.js') }}"></script>

<!-- main driver script -->
<script src="{{ url_for('static', filename = 'scripts/code.js')}}"></script>
{% endblock %}