{% extends "base.html" %}
{% block title %}Assignment{% endblock %}
{% block logo %}Edit assignment{% endblock %}
{% block nav %}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/classroom/{{ assignment['classroom'].code }}" style="text-decoration: none;">{{ assignment["classroom"].name }}</a></li>
        <li class="breadcrumb-item">{{ assignment["name"] }}</li>
    </ol>
</nav>
<div class="container">
    <!-- <form action="/assignment/{{ assignment['code'] }}/edit", method="POST">
        <div class="my-4">
            <label for="assignment_name"><h5 class="text-success">Assignment name:</h5></label>
            <input class="form-control" type="text" maxlength="30" id="assignment_name" name="assignment_name" value="{{ assignment['name'] }}" required>
        </div>
        <div class="mb-3">
            <label for="assignment_desc"><h6>Problem statement:</h6></label>
            <input class="form-control" type="text" maxlength="80" id="assignment_desc" name="assignment_desc" value="{{ assignment['desc'] }}" required>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12 mb-3">
                <label for="assignment_input_format"><h6>Input format</h6></label>
                <textarea class="form-control" maxlength="80" id="assignment_input_format" name="assignment_input_format" required>{{ assignment['input_format'] }}</textarea>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
                <label for="assignment_output_format"><h6>Output format</h6></label>
                <textarea class="form-control" maxlength="80" id="assignment_output_format" name="assignment_output_format" required>{{ assignment['output_format'] }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-3">
                <label for="assignment_input_cases"><h6>Input Cases (separated by '---')</h6></label>
                <textarea class="form-control" maxlength="80" id="assignment_input_cases" name="assignment_input_cases" required>{{ assignment['input_cases'] }}</textarea>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
                <label for="assignment_output_cases"><h6>Output Cases (separated by '---')</h6></label>
                <textarea class="form-control" maxlength="80" id="assignment_output_cases" name="assignment_output_cases" required>{{ assignment['output_cases'] }}</textarea>
            </div>
        </div>

        
        <div class="mb-3">
            <label for="assignment_constraints"><h6>Constraints</h6></label>
            <input class="form-control" type="text" maxlength="80" id="assignment_constraints" name="assignment_constraints" value="{{ assignment['constraints'] }}">
        </div>
        <div class="mb-3">
            <label for="assignment_deadline"><h6>Deadline</h6></label>
            <input class="form-control" type="datetime-local" id="assignment_deadline" name="assignment_deadline" value="{{ assignment_deadline }}">
        </div>
        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
        <a href="/assignment/{{ assignment['code'] }}" class="ml-2 btn btn-secondary">Cancel</a>
        <button type="button" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger ml-5"><i class="fas fa-trash-alt"></i> Delete</button>
        <div class="modal" id="deleteModal" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm assignment deletion</h5>
                    </div>
                    <div class="modal-body">
                        <div class="">Please type <span class="text-danger font-weight-bold">{{ assignment['name'] }}</span> to confirm deletion</div>
                        <div class="my-3">
                            <input type="text" id="delete_confirm" class="rounded form-control" oninput="confirmDelete(this.value)" placeholder="{{ assignment['name'] }}" />
                        </div>
                        <a href="/assignment/{{ assignment['code'] }}/delete" class="btn btn-block btn-outline-danger disabled" id="confirm_delete" disabled>Delete assignment</a>
                    </div>
                </div>
            </div>
        </div>
    </form> -->
    <form action="/assignment/{{ assignment['code'] }}/edit", method="POST">
        <div class="mb-4">
            <label for="assignment_name">
                <h5 class="text-success">Assignment name:</h5>
            </label>
            <input class="form-control w-50" type="text" maxlength="30" id="assignment_name" name="assignment_name" value="{{ assignment['name'] }}" required>
        </div>
        <div class="mb-3">
            <label for="assignment_desc"><h6>Problem statement:</h6></label>
            <textarea class="form-control" type="text" maxlength="80" id="assignment_desc" name="assignment_desc" required>{{ assignment['desc'] }}</textarea>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-3">
                <label for="assignment_input_format"><h6>Input format</h6></label>
                <textarea class="form-control" maxlength="80" id="assignment_input_format" name="assignment_input_format" required>{{ assignment['input_format'] }}</textarea>
            </div>
            <div class="col-lg-4 col-md-12 mb-3">
                <label for="assignment_output_format"><h6>Output format</h6></label>
                <textarea class="form-control" maxlength="80" id="assignment_output_format" name="assignment_output_format" required>{{ assignment['output_format'] }}</textarea>
            </div>
        </div>
        <div class="row">
            <template id="templateInputCase">
                <textarea class="form-control mb-2" name="assignment" id="" placeholder="" rows="1"></textarea>  
            </template>
            <div class="col-lg-4 col-md-12">
                <label><h6>Input Cases</h6></label>
            </div>
            <div class="col-lg-4 col-md-12">
                <label><h6>Output Cases</h6></label>
            </div>
            <div class="col-auto"></div>
            
            <div class="col-lg-4 col-md-12 mb-3" id="inputCases">
                {% for input_case in assignment['input_cases'].split("---")  %}
                    <textarea class="form-control mb-2"  name="assignment_input_case_{{ loop.index-1 }}" id="assignment_input_case_{{ loop.index-1 }}" rows="1">{{ input_case }}</textarea>  
                {% endfor %}
            </div>

            <div class="col-lg-4 col-md-12 mb-3" id="outputCases">
                {% for output_case in assignment['output_cases'].split("---")  %}
                    <textarea class="form-control mb-2" name="assignment_output_case_{{ loop.index-1 }}" id="assignment_output_case_{{ loop.index-1}}" rows="1">{{ output_case }}</textarea>
                {% endfor %}
            </div>

            <div class="col-lg-4 col-md-12">
                <button type="button" class="btn btn-sm btn-outline-success" onclick="addInputOutputCase()">Add case</button>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-8 mb-3 col-sm-12">
                <label for="assignment_constraints"><h6>Constraints</h6></label>
                <input class="form-control" type="text" maxlength="80" id="assignment_constraints" name="assignment_constraints" value="{{ assignment['constraints'] }}">
            </div>
            <div class="col-md-4 col-sm-12">
                <label for="assignment_deadline"><h6>Deadline</h6></label>
                <input class="form-control" type="datetime-local" id="assignment_deadline" name="assignment_deadline" value="{{ assignment_deadline }}">
            </div>
        </div>
        
        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
        <a href="/assignment/{{ assignment['code'] }}" class="ml-2 btn btn-secondary">Cancel</a>
        <button type="button" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger ml-5"><i class="fas fa-trash-alt"></i> Delete</button>
        <div class="modal" id="deleteModal" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm assignment deletion</h5>
                    </div>
                    <div class="modal-body">
                        <div class="">Please type <span class="text-danger font-weight-bold">{{ assignment['name'] }}</span> to confirm deletion</div>
                        <div class="my-3">
                            <input type="text" id="delete_confirm" class="rounded form-control" oninput="confirmDelete(this.value)" placeholder="{{ assignment['name'] }}" />
                        </div>
                        <a href="/assignment/{{ assignment['code'] }}/delete" class="btn btn-block btn-outline-danger disabled" id="confirm_delete" disabled>Delete assignment</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}


{% block scripts %}
<script>
    function confirmDelete(val) {
        if (val == "{{ assignment['name'] }}") 
            document.getElementById('confirm_delete').classList.remove("disabled");
        else
            document.getElementById('confirm_delete').classList.add("disabled");
    }
</script>
<script>
    function addInputOutputCase() {
        const inputCases = document.getElementById("inputCases");
        const outputCases = document.getElementById("outputCases");
        const templateInputCase = document.getElementById("templateInputCase");
        
        let lastIndex = 0;
        for (let child of inputCases.children) {
            const childName = child.name.split("_");
            if (lastIndex == childName[childName.length - 1])   lastIndex++;
        }

        let inputCaseNode = templateInputCase.content.cloneNode(true);
        let inputTextarea = inputCaseNode.querySelector("textarea");
        
        inputTextarea.name = inputTextarea.name + "_input_case_" + lastIndex;
        inputTextarea.id = inputTextarea.name;
        inputTextarea.placeholder = "Input case " + (lastIndex+1);
        inputCases.appendChild(inputCaseNode);

        let outputCaseNode = templateInputCase.content.cloneNode(true);
        let outputTextarea = outputCaseNode.querySelector("textarea");
        
        outputTextarea.name = outputTextarea.name + "_output_case_" + lastIndex;
        outputTextarea.id = outputTextarea.name;
        outputTextarea.placeholder = "Output case " + (lastIndex+1);
        outputCases.appendChild(outputCaseNode);

        console.log(lastIndex);
    }
</script>
{% endblock %}