{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block logo %}Multiple Code Executer{% endblock %}
{% block nav %}
<div class="dropdown-divider border-secondary"></div>
<li class="nav-item ml-auto mx-2">
    <button class="btn btn-outline-light " data-toggle="modal" data-target="#LoginModal">login</button>
    <button class="btn btn-outline-light " data-toggle="modal" data-target="#SignUpModal">SignUp</button>
</li>
{% endblock %}
{% block body %}
<!--login Modal -->
<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">


                <h5 class="modal-title" id="LoginModalLabel">Login</h5>
                <button type="button" class="close btn btn-sm btn-outline-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary my-2">Login</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<!--SignUp Modal -->
<div class="modal fade" id="SignUpModal" tabindex="-1" aria-labelledby="SignUpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SignUpModalLabel">SignUp</h5>
                <button type="button" class="close btn btn-sm btn-outline-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputname">Name</label>
                        <input type="Name" class="form-control" id="exampleInputname">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="cexampleInputPassword1">Confirm Password</label>
                        <input type="password" class="form-control" id="cexampleInputPassword1">
                    </div>


                    <button type="submit" class="btn btn-primary my-2">Create Account</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>


        </div>
    </div>
</div>
</div>
<div class="container-fluid my-2">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{url_for('static', filename = 'images/carousal-1.jpg')}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Welcome to Multiple Code Executer</h5>
                    <p>An online coding assignment platform. </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{url_for('static', filename = 'images/carousal-2.jpg')}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fast Assignment Execution</h5>
                    <p>experience the fast testcase checking and submission.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{url_for('static', filename = 'images/carousal-3.jpg')}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>User friendly interface</h5>
                    <p>Completing assignments is fun!</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>

        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>

        </a>
    </div>
</div>

<div class="container">
    <h1 class="text-center text-success my-3">Multiple Code Executer</h1>
    <h5 class="text-center">Welcome to Online Coding Assignment Platform</h5>
    <div class="d-flex justify-content-center my-3">
        <p class="text-center">Multiple Code Executer aims to provide the teachers and students the best service. <br> Teachers can make new classes and post their assignments and students can submit in this user friendly interface.</p>

    </div>

    <div class="dropdown-divider border-muted"></div>

    <h2 class="text-center">Join our family to get started</h2>
    <h4 class="text-center">Get your account now</h4>
    <div class="d-flex justify-content-center my-3">
            <button class="btn btn-lg btn-outline-primary mx-1" data-toggle="modal" data-target="#LoginModal">login</button>
            <button class="btn btn-lg btn-primary mx-1" data-toggle="modal" data-target="#SignUpModal">SignUp</button>

    </div>

    
</div>
{% endblock %}