{% extends 'base.html' %}
{% block title %}Student{% endblock %}
{% block logo %}Student Dashboard{% endblock %}
{% block nav %}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-6 offset-1 my-5">
            <input type="text" class="form-control" placeholder="Enter class code">  
    </div>
    <div class="col-3 my-5">
        <button class="btn btn-outline-success">Join Class</button>
    </div>
</div>
    
<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-1 my-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Physics</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">View Assignments</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Chemistry</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Assignments</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 my-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Mathematics</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Assignments</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 my-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">English</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Assignments</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 my-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Social Science</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">View Assignments</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Biology</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Assignments</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 my-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Data Structures</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Assignments</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 my-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Computer Architecture</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">View Assignments</a>
              </div>
            </div>
          </div>
    </div>
</div> 

   
{% endblock %}
