{% extends "base.html" %}
{% block title %}Subject{% endblock %}
{% block logo %}Create new classroom{% endblock %}
{% block nav %}{% endblock %}

{% block body %}
<div class="container">
    <form action="/classroom/create", method="POST">
        <p>
            <label for="class_name"><h5>Class name:</h5></label>
            <input class="form-control" type="text" maxlength="30" id="class_name" name="class_name" required>
        </p>
        <p>
            <label for="class_desc"><h5>Class description:</h5></label>
            <input class="form-control" type="text" maxlength="80" id="class_desc" name="class_desc" required>
        </p>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}

{% block scripts %}{% endblock %}